{
  "printWidth": 120,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^./(lib)/?(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
